/* regole di reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
/* fine regole di reset */

 /*regola per testare  */
 body > *{
   border: 1px red solid;
   background-color:#8EAFBA
 }
 /* fine regole per testare */
/*navbar inizio*/
 .conteiner_navbar{
    display: flex;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 18px;
   
    

 }
 .lati_navbar{
   width: 240px;
   border: 2px black dashed ;
   padding-top: 10px;
   padding-bottom:10px;
   padding-left: 12px;
   padding-right: 12px;
   align-self: center;

   
 }
  .destra{
   text-align: right;
   /* 1)errore che commettevo quello di inseririe .lati_navbar .destra e non prendeva nulla*/

   
 
}
  .centro_navbar{
   width: 720px;
   border: 1px black dashed ;
   padding-top: 10px;
   padding-bottom:10px;
   padding-left: 12px;
   padding-right: 12px;
   text-align: center;
   
 }
 
 .conteiner_navbar > * {
    background-color: #AA831F;
 }
 /*navbar fine*/
 /*inizio secondo scenario*/
 .contenitore_quadrato_rosa{
   background-color: #00008B;
   height: 500px;
   

 }
 .rettangolo_rosa{
   background-color: #EE82EE;
   height: 400px;
   width: 900px;
   margin: 50px 500px ;
   border: 1px black dashed ;
 }
 /*fine secondo scenario*/
 /*inizio terzo scenario*/
 .terzo_scenario{
  display: flex;
  justify-content: center;
  
  height: 600px;
  background-color:#FFFFFF;

 }
 .rettangolo_blu{
  width:712px;
  height:500px ;
  background-color: #1E90FF;

 }
 .rettangolo_lightpink{
  width: 475px;
  height:500px ;
  background-color: #FFC0CB;

 }

 .terzo_scenario .rettangolo_blu , .terzo_scenario .rettangolo_lightpink {
  margin: 50px 0 ;
  border: 1px black dashed ;
 }


 /*fine terzo scenario*/
 /*inizio quarto scenario*/
 .quarto_scenario{
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  height: 600px;
  background-color:#D3D3D3;

 }
 .quarto_scenario .rettangolo_blu , .quarto_scenario .rettangolo_lightpink {
  margin: 50px 0 ;
  border: 1px black dashed ;
 }
/*fine quart scenario*/